.draggable-todo-list{
	
	//width: 400px;
	//background-color: gray;
	
	.title{
		padding: 0 10px;
	}
	
	.draggable-area{
		
		//background-color: antiquewhite;
		height: 100%;
		transition: all ease-in-out 0.2s;
		border-radius: 5px;
		
		.list-area{
			display: grid;
			grid-template-columns: 1fr;
			gap: 8px;
			//padding: 20px 0;
			padding: 10px;
			
			
		}
	}
	
	&.hovered{
		.draggable-area{ 
			background-color: rgb(255,255,255 , 0.1 );
			background-color: rgba(240, 248, 255, 0.1);
		}
	}
	
	
	
    
}