.sample-todo-item{
	background-color: white;
	/* background-color: rgb(235 235 235); */
	box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 
				0px 2px 2px  0px rgb(0 0 0 / 14%), 
				0px 1px 5px  0px rgb(0 0 0 / 12%);
	
	border-radius: 6px;
	
	padding: 10px 15px;
	
	display: grid;
	grid-template-columns: auto 1fr auto auto;
	align-items: center;
	gap: 15px;
	
	
	transition: 0.2s ease;
	
	color: #242424;
	
	.check-box{
		font-size: 20px;
		cursor: pointer;
		color: green;
	}
	
	.title-field{
		background-color: transparent;
		border: 1px solid transparent;
		border-radius: 4px;
		outline: none;
		
		padding: 5px;
		width: 100%;
		
		font-size: 13px;
		color: #242424;
		
		&:hover{
			border-color: #e8e8e8;
			background-color: #f5f5f5;
		}
		&:focus-visible{
			border-color: goldenrod;
			background-color: white;
			
			box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 
						0px 1px 1px  0px rgb(0 0 0 / 14%), 
						0px 1px 3px  0px rgb(0 0 0 / 12%);
		}
		
	}
	
	.date-label{
		font-size: 12px;
		line-height: normal;
		user-select: none;
		padding: 5px;
		border: 1px solid transparent;
		border-radius: 4px;
		
		&:hover{
			background-color: #f5f5f5;
			border-color: #e8e8e8;
			cursor: pointer;
		}
	}
	
	.delete-icon{
		color: firebrick;
		cursor: pointer;
		
		opacity: 0%;
		transition: opacity 0.2s;
		
		&:hover{
			opacity: 100% !important;
		}
		
	}
	
	&.done{
		.title-field{
			color: gray;
			text-decoration: line-through;
		}
	}
	
	&:hover{
		/* background-color: lightskyblue; */
		/* transform: scale(1.01); */
		.delete-icon{ opacity: 50%; }
	}
	
}




.shadow-1{
	
	box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 
				0px 1px 1px  0px rgb(0 0 0 / 14%), 
				0px 1px 3px  0px rgb(0 0 0 / 12%);
}
.shadow-2{
	box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 
				0px 2px 2px  0px rgb(0 0 0 / 14%), 
				0px 1px 5px  0px rgb(0 0 0 / 12%);
}