.draggable-todo-list{
	
	//width: 400px;
	//background-color: gray;
	
	.draggable-area{
		
		//background-color: antiquewhite;
		height: 100%;
		
		.list-area{
			display: grid;
			grid-template-columns: 1fr;
			gap: 8px;
			padding: 20px 0;
			
			
		}
	}
	
	
	
    
}